In [14]:
from pandas import read_excel
df = read_excel("./Libro1.xlsx")
df

   Unnamed: 0  Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4
0         NaN         NaN        NaN        NaN        NaN
1         NaN         NaN        NaN        NaN        NaN
2         NaN         NaN        NaN        NaN        NaN
3         NaN         NaN        NaN        NaN        NaN
4         NaN         NaN      campo     campo2     campo3
5         NaN         NaN          1          2          3
6         NaN         NaN          4          5          6
7         NaN         NaN          7          8          9

In [16]:
df.dropna(how='all', axis=1, inplace=True)
d = df.dropna()
d.reset_index()

AttributeError: 'NoneType' object has no attribute 'dropna'